sudo: required

language: python

python:
- '3.6'
- '3.7'

install:
- pip install codecov
- pip install pylint

script:
- nosetests --with-coverage --cover-package=v_palette --cover-erase --cover-inclusive
- pylint --disable=W,R test
- cd v_palette
- pylint --disable=W,R v_palette
- cd ..

after_success:
- codecov

notifications:
  email:
    on_success: never # default: change
    on_failure: never # default: always
